*{
	list-style: none;
}
.Admins{
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.AdminHeader{
margin-top: 40px;
}
.Admins li{
	margin-bottom: 10px;
}
.AdminNames{
	text-decoration: none;
	font-size: 30px;
	color: #333;
	margin-left: 10px;
	margin-right: 40px;
	vertical-align: top;

}
.AdminAvatar{
	border: 1px solid #333;
	border-radius: 10px;
	vertical-align: top;
	display: inline-block;
	position: relative;
	margin-top: -20px;
}
.addImage{height: 30px;
margin-left: -30px;
vertical-align: top;}
.GamesPlayed{
	margin-top: 30px;
	padding: 20px;
}
.GamesPlayed li{
	display: inline-block;
	margin-right: 15px;
	position: relative;
	font-size: 14px;
}
.pagenation a{
	font-size: 20px;
	margin: 10px 25px 10px 10px;
}